
body {
  background-color: #191970;
  color: #F5F5F5;
  font-family: Arial;
  padding: 5px;
  margin: 0;
}

h1 {
  text-align: left;
  font-family: Verdana;
}

#header {
  text-align: justify;
  height: auto;
  width: auto;
}

#intro {
    height: 120px;
    width: 100%;
}

#startbutton {
  color: red;
}

#container {
  height: auto;
  width: auto;

}

#left {
  border: 5px solid #191970;
  float: left;
  display: block;
  max-height: 300px;
  max-width: 320px;
  width: auto;
  height:auto;
}

#center {
  border: 5px solid #191970;
  float: left;
  display: block;
  max-height: 300px;
  max-width: 320px;
  width: auto;
  height:auto;
}

#right {
  border: 5px solid #191970;
  float: left;
  display: block;
  max-height: 300px;
  max-width: 320px;
  width: auto;
  height:auto;
}

#canvas1 {
  max-height: 320px;
  width: auto;
}
